h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#divResultado {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.results-tabs {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 10px;
  background-color: gray;
}

.results {
  display: flex;
}

.divPhotoName {
  display: flex;
  border: 2px solid black;
  background-color: yellow;
  border-radius: 10px;
  margin: 2px;
}

img {
  padding: 2px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* border: 2px solid black; */
  background-color: black;
}

body {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Sofia';
  /* font-family: 'Allura-Regular'; */
  /* font-size: 22px; */
}
