.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10px;
}
